.vk.virtual-keyboard.container {
    width: 100%;
    position: fixed;
    display: flex;
    bottom: 20px;
    
    box-shadow: 0 0 15px #464646;
    align-items: center;

    &.blue {
        background-color: #a4b1c3;
    }

    &.red {
        background-color: #d2acac;
    }

    &.green {
        background-color: #bfe0b1;
    }

    &.black {
        background-color: #848484;
    }

    &.orange {
        background-color: #f7ef8a;
    }

    .vk.virtual-keyboard.inner {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 5px;
    }

    &.in {
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
         -ms-animation: fadein 2s;
          -o-animation: fadein 2s;
             animation: fadein 2s;
    }
    &.out {
        -webkit-animation: fadeout 2s;
        -moz-animation: fadeout 2s;
         -ms-animation: fadeout 2s;
          -o-animation: fadeout 2s;
             animation: fadeout 2s;
        
        opacity: 0;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}