// Keyboard custom color theme
::ng-deep vk-keyboard {
    .vk.virtual-keyboard.container.custom {
        background-color: #ad6200;

        .key.custom {
            background-color: #1b398c;
        
            &:hover {
                background-color: #472e00;
                box-shadow: 0 0 10px #fff1eb;
            }
        }
    }
}

h1 {
    text-transform: uppercase;
    font-family: Impact, fantasy;
    font-size: 50px;
    margin: 15px 0px;
    text-shadow: 3px 2px 3px #ffa50070;
}

input {
    margin-left: 15px;
}